h1{
  color:#00FF00;.
  font-size:128pt;
}
body{
  background-color:black;
background-image:
url("https://dmarket.com/blog/best-csgo-wallpapers/csgo-image_hud3c572ca46463b7314b38aa612b1af3b_51172_1920x1080_resize_q75_lanczos.jpg");
  background-size: cover;
  background-position: 1920px 5px:
  background-repeat;
}
h3 {
 margin: auto;
}
div {
 margin-top: px;
 text-align: center;
}
#header{
 height: px;
}
#container {
 width: auto;
}

#navigation {
 height: 190px;
}
#content {
 float: left;
 width: 75%;
 height: 490px;
}
