body{
  background-color:black;
background-image:
url("https://okolocs.ru/uploads/posts/2021-06/1623408393_fon-menu-cs16-ct-chicken-iz-csgo.jpg");
  background-size: cover;
  background-position: 1920px 5px:
  background-repeat;
}
